{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


    <div class="container">
        <div class="row">
            <div class="mt-5 col-md-2 border-end">
                <p class="display-6">Filtrer</p>
                <form id="filters">
                    {% for category in categories %}
                        <p>
                            <input type="checkbox" name="categories[]" id="cat{{ category.id }}" value="{{ category.id }}">
                            <label for="cat{{ category.id }}">{{ category.title }}</label>
                        </p>
                    {% endfor %}
                    <input type="hidden" name="page" value="{{ page }}">
                </form>
            </div>
            <div class="col-md-10" id="blogposts">
                {% include('./component/_blogposts.html.twig') %}
            </div>
        </div>
    </div>
    <div class="my-3">{% include('./component/_pagination.html.twig') %}</div>



{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('filter-blogpost') }}
{% endblock %}

