{% extends 'base.html.twig' %}

{% set queryParams = app.request.query.all %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="mt-5 col-md-2 border-end">
                <p class="display-6">Filtrer</p>
                <p class="display-6 fs-5 border-bottom py-2">
                    Catégories
                </p>
                <form id="filters">
                    {% for category in categories %}
                        {% if queryParams is not empty and queryParams.categories is defined %}
                            {% set checked = (category.id in queryParams.categories) ? "checked" : "" %}
                        {% else %}
                            {% set checked = "" %}
                        {% endif %}

                        <p>
                            <input
                                    type="checkbox"
                                    name="categories[]"
                                    id="cat{{ category.id }}"
                                    value="{{ category.id }}"
                                   {{ checked }}>
                            <label for="cat{{ category.id }}">{{ category.title }}</label>
                        </p>
                    {% endfor %}
                    <input type="hidden" name="page" value="{{ page }}">
                </form>
            </div>
            <div class="col-md-10" id="blogposts">
                {% include('./component/_blogposts.html.twig') %}
            </div>
        </div>
    </div>



{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('filter-blogpost') }}
{% endblock %}

